@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans:800');
* {
  margin:0;
}
html {
  min-width: 500px;
}
header {
  background-color: #3e5b99;
  font-family: 'Merriweather Sans ', sans-serif;
}
.logo {
  padding: 20px 20px 20px 1px;
}
.facebook {
  color: white;
  font-weight: 800;
  font-size: 34pt;
  padding: 1px 15px 1px 10%;
}
.signup {
  color: white;
  font-weight: 800;
  font-size: 12pt;
  background-color: #6faa55;
  width: 110px;
  height: 40px;
  padding: 1px 5px 1px;
}
a {
  text-decoration: none;
}
.static {
  margin: auto;
  width: 424px;
  height: 165px;
}
.down{
  padding-left: 110px;
  padding-top: 10px;
}
#log {
  width: 210px;
}
#pass {
  width: 210px;
}
table {
  color: #404040;
}
.dinamic {
  min-width: 350px;
  margin: 50px 20%;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
}
.hr {
  padding: 20px;
}
hr {
  border: none;
  background-color: #dfdfdf;
  height: 1px;
}